@import '../variables';
.header {
	display: flex;
	background-color: $bg-color;
	width: 100%;
	padding: 10px;
	&-component {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		ul {
			margin-right: 50px;
			display: flex;
			gap: 75px;
			align-items: center;
			li {
				font-size: 35px;
				font-weight: 500;
				button {
					border-radius: 10px;
					padding: 15px;
				}
				.stateButton {
					@apply text-[#2c3a61];
				}
				.activeButton {
					@apply shadow-xl text-white bg-[#2c3a61] hover:text-[#2c3a61];
				}
				:hover {
					border-bottom: #efeeed;
					background-color: white;
					color: $second-color;
				}
			}
		}
		.search {
			margin: 10px auto;
			width: 480px;
			form {
				flex: 1 1;
				position: relative;
				.search_block {
					align-items: center;
					border-radius: 16px;
					display: flex;
					position: relative;
					font-size: 30px;
					.lupa {
						position: absolute;
						margin-left: 12px;
					}
				}
				input {
					background: white;
					border: 1px solid transparent;
					border-radius: 16px;
					display: block;
					font-size: 20px;
					height: 48px;
					line-height: 17px;
					outline: none;
					padding: 0 20px 0 48px;
					text-align: left;
					width: 100%;
					color: black;
				}
			}
		}
		.about {
			@apply mr-9 text-[#2c3a61] hover:text-indigo-700;
		}
	}
}
