@import '../variables';
.header {
	display: flex;
	background-color: rgb(228, 228, 228);
	width: 100%;
	&-component {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		ul {
			margin-right: 50px;
			display: flex;
			gap: 15px;
			li {
				font-size: 18px;
				font-weight: 500;
				button {
					border-radius: 10px;
					padding: 12px 5px;
				}
				:hover {
					border-bottom: #efeeed;
				}
			}
		}
		.search {
			margin: 10px auto;
			width: 480px;
			form {
				flex: 1 1;
				position: relative;
				.search_block {
					align-items: center;
					border-radius: 16px;
					display: flex;
					position: relative;
					font-size: 30px;
					.lupa {
						position: absolute;
						margin-left: 12px;
					}
				}
				input {
					background: white;
					border: 1px solid transparent;
					border-radius: 16px;
					display: block;
					font-size: 20px;
					height: 48px;
					line-height: 17px;
					outline: none;
					padding: 0 20px 0 48px;
					text-align: left;
					width: 100%;
					color: black;
				}
			}
		}
	}
}
