@import '../variables.scss';
.homePage {
	position: relative;
	.container {
		.preview {
			height: 590px;
			align-items: center;
			justify-content: center;
			display: flex;
			background-image: url(https://i.ibb.co/WgsRQNK/house-photo.jpg);
			.text {
				max-width: 700px;
				flex-wrap: wrap;
				align-items: center;
				color: white;
				.mainText {
					font-size: 52px;
					font-weight: 600;
					text-align: center;
				}
				.secondText {
					margin-top: 24px;
					flex-wrap: wrap;
					align-items: center;
					display: flex;
					text-align: center;
					font-size: 20px;
					font-weight: 400;
				}
			}
		}
		.blocks {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
			margin-top: -30px;
			z-index: 20;
			.block {
				align-items: center;
				justify-content: center;
				display: flex;
				padding: 10px 22px;
				border-radius: 8px;
				background-color: white;
				@apply shadow-xl;
				div {
					padding: 10px 50px;
					border-right: 1px solid $bg-color;
				}
				.dop {
					border: white;
				}
			}
		}
		.info {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 50px;

			div {
				font-size: 28px;
				font-weight: 600;
			}
		}
		.blueZone {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 350px;
			background-color: $bg-color;
			margin-bottom: 50px;
			.mainText {
				h1 {
					font-size: 28px;
					font-weight: 600;
					margin-bottom: 25px;
				}
				.blogs {
					display: flex;
					gap: 35px;
					.blog {
						border-radius: 6px;
						padding: 10px;
						background-color: white;
						width: 250px;
						height: 200px;
						.iconHouse {
							width: 60px;
							height: 60px;
							margin-bottom: 10px;
						}
						.text {
							flex-wrap: wrap;
							color: $gray-color;
							.nameText {
								font-size: 24px;
								font-weight: 600;
								margin-bottom: 10px;
								color: black;
							}
							.next {
								margin-top: 15px;
								color: $button-color;
							}
						}
					}
				}
			}
		}
	}
}
