@import '../variables.scss';

.offers {
	.offersPreview {
		height: 240px;
		.ph {
			max-height: 240px;
			height: 100%;
			.previewPh {
			}
			.previewText {
				display: flex;
				margin-top: -132px;
				color: white;
				justify-content: center;
				align-items: center;
				font-size: 45px;
				gap: 15px;
			}
		}
	}
	.options {
		font-size: 18px;
		max-width: 1152px;
		margin: -15px auto 10px auto;
		.optionsBlock {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.sortBlock {
				max-width: 350px;
				width: 100%;
				display: flex;
				align-items: center;
				gap: 8px;
				position: relative;
				font-weight: 400;
				.sortSet {
				}
				.sort__popup {
					z-index: 5;
					position: absolute;
					left: 130px;
					top: 30px;
					background: #ffffff;
					box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.282);
					border-radius: 10px;
					overflow: hidden;
					padding: 10px 15px;
					font-size: 17px;
					align-items: center;
					cursor: pointer;
					ul {
						li {
							margin: 5px 2px;
							padding: 5px 5px;
						}
						:hover {
							background-color: #efeeed;
							border-radius: 5px;
							color: black;
							@apply shadow-md;
						}
					}
					.active {
						background-color: $hover-button-color;
						color: white;
						border-radius: 5px;
					}
				}
			}
			.sortIcons {
				margin-left: 50px;
				max-width: 30px;
				width: 100%;
				display: flex;
				align-items: center;
				gap: 8px;
				position: relative;
				font-weight: 400;
				font-size: 24px;
				.sort__popup__icons {
					position: absolute;
					left: 0px;
					top: 30px;
					background: #ffffff;
					box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.282);
					border-radius: 10px;
					overflow: hidden;
					padding: 10px 15px;
					font-size: 17px;
					align-items: center;
					cursor: pointer;
					ul {
						li {
							margin: 5px 2px;
							padding: 5px 5px;
						}
						:hover {
							background-color: #efeeed;
							border-radius: 5px;
							color: black;
							@apply shadow-md;
						}
					}
					.active {
						background-color: $hover-button-color;
						color: white;
						border-radius: 5px;
					}
				}
			}
			.bedAndBath {
				@apply flex justify-start gap-6 ml-[-25px];
				div {
					@apply flex items-center gap-3;
					.numbers {
						@apply bg-gray-200 px-1 py-2 text-lg text-gray-700  border border-gray-300 rounded transition duration-150 ease-in-out focus:text-gray-700 focus:bg-white focus:border-slate-600 text-center;
					}
				}
			}
			.typeBlock {
				display: flex;
				align-items: center;
				gap: 15px;
				ul {
					display: flex;
					align-items: center;
					gap: 15px;
					li {
						border-radius: 5px;
						padding: 8px;
						cursor: pointer;
						@apply hover:bg-[#edeff6] hover:text-[#4a60a1];
					}
					.active {
						@apply shadow-md;
						font-weight: 600;
						background-color: $button-color;
						color: white;
					}
				}
				div {
					button {
						border-radius: 5px;
						padding: 0 10px;
						letter-spacing: 0.5;
						@apply hover:shadow-md;
					}
					.active {
						@apply shadow-md;
						font-weight: 600;
					}
				}
			}
		}
		.secondContainer {
			display: flex;
			align-items: center;
			gap: 235px;
			.discountBlock {
				margin-top: 25px;
				display: flex;
				align-items: center;
				gap: 25px;
				ul {
					display: flex;
					align-items: center;
					gap: 15px;
					li {
						border-radius: 5px;
						padding: 8px;
						cursor: pointer;
						@apply hover:bg-[#edeff6] hover:text-[#4a60a1];
					}
					.active {
						@apply shadow-md;
						font-weight: 600;
						background-color: $button-color;
						color: white;
					}
				}
			}
			.tagBlock {
				display: flex;
				align-items: center;
				margin-top: 25px;
				ul {
					display: flex;
					align-items: center;
					gap: 15px;
					li {
						border-radius: 5px;
						padding: 8px;
						cursor: pointer;
						@apply hover:bg-[#edeff6] hover:text-[#4a60a1];
					}
					.active {
						@apply shadow-md;
						font-weight: 600;
						background-color: $button-color;
						color: white;
					}
				}
			}
		}
		.choseBlock {
			@apply flex mt-6 p-2 rounded-lg bg-[#2c3a61] text-white max-w-[600px] shadow-md opacity-80;
			.nameBlock {
				max-width: 180px;
				width: 100%;
			}
			.nameBlockOffer {
				max-width: 130px;
				width: 100%;
			}
			.lastNameBlock {
				max-width: 120px;
				width: 100%;
			}
		}
	}
	.mySel {
		@apply mt-6 mx-auto flex items-center justify-center max-w-6xl;
		h1 {
			@apply text-4xl font-bold;
		}
		.selBlock {
			@apply items-center justify-center;

			.text {
				@apply flex items-center justify-center;
			}
			div {
				.whatChose {
					@apply text-base;
				}
			}
			.yourSel {
				@apply flex mt-8;
				.selHouse {
					@apply flex flex-wrap;
				}
			}
		}
	}
}
