.pagination {
	margin: 25px 0 55px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.paginationList {
		gap: 15px;
		display: flex;
		.pageLink {
			cursor: pointer;
			.pageItem {
				background-color: #edeff6;
				color: $button-color;
				font-size: 20px;
				font-weight: 600;
				padding: 10px 20px;
				border-radius: 5px;
				@apply hover:bg-[#4A60A1] hover:text-white shadow-md;
			}
		}
		.active {
			cursor: pointer;
			.pageItem {
				background-color: $second-color;
				color: white;
				font-size: 20px;
				font-weight: 600;
				padding: 10px 20px;
				border-radius: 5px;
				@apply hover:bg-[#4A60A1] hover:text-white shadow-md;
			}
		}
	}
}
