$second-color: #2c3a61;
$main-color: white;
$button-color: #4a60a1;
$hover-button-color: #1d928c;
$click-button-color: #115d59;
$bg-color: #edeff6;
$gray-color: #6d737a;
$error-color: rgb(181, 74, 74);
$none-color: rgb(187, 187, 187);
